*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

a {
    color: #6F1EAA;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: normal;
}

body {
    font-family: 'roboto-regular';
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
}

button {
    background-color: #6F1EAA;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 19px;
}

button.medium-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 40px;
    border-radius: 24px;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    height: 100%;
}

.header {
    min-height: 100vh;
    background: url(../images/header__left-decorator.png) 0 93px no-repeat, url(../images/header__right-decorator.png) 100% 93px no-repeat, url(../images/header__middle-decorator.png) calc(50% + 127px) 100% no-repeat, #FEF7E5;
}

.header__top {
    top: 0;
    right: 0;
    left: 0;
    height: 93px;
    background-color: #fff;
    margin-bottom: 100px;
}

.header__container {
    padding-left: 110px;
    padding-right: 110px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 124px;
    height: 38px;
    position: absolute;
    z-index: 10;
    left: calc(50% - 62px);
    top: 30px;
}

.menu-left__list {
    display: flex;
    margin-top: 41px;
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;
}

.menu-left__item {
    transition: all 0.5s;
}

.menu-left__item:hover {
    text-shadow: 0px 0px 1px black;
}

.menu-left__item+.menu-left__item {
    padding-left: 33px;
}

.menu-right {
    margin-top: 40px;
}

.menu-right__try-btn {
    line-height: 18.2px;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    margin: 0;
    margin-left: 33px;
    margin-right: 40px;
}

.menu-right__login-link {
    font-size: 14px;
    line-height: 18.2px;
    color: #6F1EAA;
}

.login-link {
    color: #6F1EAA;
}

.header__content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__title {
    font-size: 55px;
    line-height: 67px;
    font-weight: 400;
    margin-bottom: 32px;
}

.header__text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
}

.header__text span {
    color: #6F1EAA;
}

.header__try-btn {
    align-self: center;
}

.about {
    min-height: 719px;
    background-color: #fff;
}

.about .container {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}

.about__title {
    max-width: 527px;
}

.about__title-text {
    font-size: 44px;
    line-height: 53px;
}

.about__title-img {
    padding-top: 27px;
    padding-left: 103px;
}

.about__list {
    list-style-type: none;
    max-width: 470px;
}

.about__list-item-title {
    color: #6F1EAA;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.about__list-item-text {
    font-size: 16px;
    line-height: 23px;
    margin-top: 16px;
}

.about__postscriptum {
    padding-top: 7px;
    padding-bottom: 18px;
    font-size: 15px;
    line-height: 23px;
}

.sunshine {
    font-size: 11px;
    line-height: 23px;
}

.about__list hr {
    border-top-color: #F7A500;
    margin: 33px 0;
}

.how-it-works {
    background: #FAF9F6;
}

.how-it-works .container {
    min-height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.how-it-works__title {
    font-size: 44px;
    line-height: 53px;
}

.how-it-works-cards {
    display: flex;
    text-align: center;
}

.how-it-works-cards__card+.how-it-works-cards__card {
    padding-left: 48px;
}

.how-it-works-cards__title {
    color: #6F1EAA;
    font-size: 24px;
    line-height: 32px;
    white-space: nowrap;
}

.how-it-works-cards__img1, .how-it-works-cards__img2 {
    padding-top: 14px;
    padding-bottom: 33px;
}

.how-it-works-cards__img3 {
    padding-bottom: 18px;
}

.for-veterinarians {
    min-height: 645px;
    background: #F6F3FA;
}

.for-veterinarians .container {
    display: flex;
}

.for-veterinarians__header {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #F7A500;
    padding-bottom: 8px;
}

.for-veterinarians__title {
    font-size: 44px;
    line-height: 53px;
    padding-bottom: 40px;
}

.for-veterinarians__text {
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 32px;
}

.for-veterinarians__info-block {
    margin-top: auto;
    margin-bottom: auto;
}

.reviews {
    min-height: 711px;
}

.reviews__title {
    font-weight: bold;
    font-size: 43px;
    line-height: 53px;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 24px;
}

.reviews__text {
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 27px;
}

.carousel-cell {
    width: 65%;
    margin-right: 80px;
    background: #DFF5F6;
    border-radius: 20px;
    padding: 60px 40px;
    display: flex;
}

.carousel__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.country {
    display: flex;
    margin-top: 8px;
}

.country__text {
    font-size: 20px;
    line-height: 33px;
}

.country__img {
    max-width: 100%;
    max-height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
}