*, *::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../fonts/roboto-regular.woff2') format('woff2'), url('../fonts/roboto-regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

a {
    color: #6F1EAA;
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: normal;
}

body {
    font-family: 'roboto-regular';
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
}

button {
    background-color: #6F1EAA;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 19px;
}

button.medium-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding: 15px 40px;
    border-radius: 24px;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mt-4 {
    margin-top: 1rem;
}

.container {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    height: 100%;
}

.header {
    min-height: 745px;
    background: url(../images/header__left-decorator.png) 0 93px no-repeat, url(../images/header__right-decorator.png) 100% 93px no-repeat, url(../images/header__middle-decorator.png) calc(50% + 127px) 100% no-repeat, #FEF7E5;
}

.header__top {
    top: 0;
    right: 0;
    left: 0;
    height: 93px;
    background-color: #fff;
    margin-bottom: 100px;
}

.header__container {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    width: 124px;
    height: 38px;
    position: absolute;
    z-index: 10;
    left: calc(50% - 62px);
    top: 30px;
}

.menu-btn {
    display: none;
    width: 40px;
    padding: 0;
    position: relative;
    z-index: 20;
    height: 30px;
    background-color: transparent;
    align-self: center;
    margin-left: 24px;
}

.menu-btn span {
    display: block;
    height: 2px;
    background-color: black;
    position: relative;
}

.menu-btn span::before, .menu-btn span::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
}

.menu-btn span::before {
    top: -10px;
}

.menu-btn span::after {
    top: 10px;
}

.menu-left__list {
    display: flex;
    margin-top: 41px;
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 400;
}

.menu-left__item {
    transition: all 0.5s;
}

.menu-left__item:hover {
    text-shadow: 0px 0px 1px black;
}

.menu-left__item+.menu-left__item {
    padding-left: 2rem;
}

.menu-right {
    margin-top: 40px;
}

.menu-right__try-btn {
    line-height: 18.2px;
    font-size: 14px;
    font-weight: 700;
    width: 150px;
    margin: 0;
    margin-left: 33px;
}

.menu-right__login-link {
    font-size: 14px;
    line-height: 18.2px;
    color: #6F1EAA;
}

.login-link {
    color: #6F1EAA;
}

.header__content {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header__title {
    font-size: 55px;
    line-height: 67px;
    font-weight: 400;
    margin-bottom: 32px;
}

.header__text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 32px;
}

.header__text span {
    color: #6F1EAA;
}

.header__try-btn {
    align-self: center;
}

.about {
    min-height: 719px;
    background-color: #fff;
}

.about .container {
    display: flex;
    justify-content: space-between;
    padding-top: 58px;
}

.about__title {
    max-width: 527px;
}

.about__title-text {
    font-size: 44px;
    line-height: 53px;
}

.about__title-img {
    padding-top: 27px;
    padding-left: 103px;
}

.about__list {
    list-style-type: none;
    max-width: 470px;
}

.about__list-item-title {
    color: #6F1EAA;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}

.about__list-item-text {
    font-size: 16px;
    line-height: 23px;
    margin-top: 16px;
}

.about__postscriptum {
    padding-top: 7px;
    padding-bottom: 18px;
    font-size: 15px;
    line-height: 23px;
}

.sunshine {
    font-size: 11px;
    line-height: 23px;
}

.about__list hr {
    border-top-color: #F7A500;
    margin: 33px 0;
}

.how-it-works {
    background: #FAF9F6;
}

.how-it-works .container {
    min-height: 653px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.how-it-works__title {
    font-size: 44px;
    line-height: 53px;
}

.how-it-works-cards {
    display: flex;
    text-align: center;
}

.how-it-works-cards__card+.how-it-works-cards__card {
    padding-left: 48px;
}

.how-it-works-cards__title {
    color: #6F1EAA;
    font-size: 24px;
    line-height: 32px;
    white-space: nowrap;
}

.how-it-works-cards__img1, .how-it-works-cards__img2 {
    padding-top: 14px;
    padding-bottom: 33px;
}

.how-it-works-cards__img3 {
    padding-bottom: 18px;
}

.for-veterinarians {
    min-height: 645px;
    background: #F6F3FA;
}

.for-veterinarians .container {
    display: flex;
}

.for-veterinarians__header {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #F7A500;
    padding-bottom: 8px;
}

.for-veterinarians__title {
    font-size: 44px;
    line-height: 53px;
    padding-bottom: 40px;
}

.for-veterinarians__text {
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 32px;
}

.for-veterinarians__info-block {
    margin-top: auto;
    margin-bottom: auto;
}

.reviews {
    min-height: 711px;
}

.reviews::before {
    content: '';
    position: absolute;
    right: 0;
    background-image: url(../images/review_decorator.png);
    width: 202px;
    height: 203px;
    z-index: 20;
    margin-right: 65px;
    margin-top: 40px;
}

.reviews__title {
    font-weight: bold;
    font-size: 43px;
    line-height: 53px;
    text-align: center;
    padding-top: 58px;
    padding-bottom: 24px;
}

.reviews__text {
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    padding-bottom: 27px;
}

.carousel {
    height: 354px;
}

.carousel-cell {
    width: 65%;
    margin-right: 80px;
    background: #DFF5F6;
    border-radius: 20px;
    padding: 60px 40px;
    display: flex;
    max-height: 100%;
}

.carousel__text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.carousel__img {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.country {
    display: flex;
    margin-top: 8px;
}

.country__text {
    font-size: 20px;
    line-height: 33px;
}

.country__img {
    max-width: 100%;
    max-height: 22px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 16px;
}

.in-the-wild {
    min-height: 902px;
    background: url(../images/in-the-wild__bg1.png) 0 40% no-repeat, url(../images/in-the-wild__bg2.png) 100% 60% no-repeat, #FAF9F6;
}

.in-the-wild__title {
    padding-top: 58px;
    padding-bottom: 24px;
    font-size: 44px;
    line-height: 53px;
    text-align: center;
}

.in-the-wild__text {
    font-weight: bold;
    font-size: 13px;
    line-height: 23px;
    padding-bottom: 81px;
    text-align: center;
}

.in-the-wild__btn-container {
    display: flex;
    justify-content: center;
}

.article-carousel {
    display: flex;
    justify-content: center;
}

.article-carousel__cell {
    width: 27%;
    margin-right: 32px;
    height: 485px;
    display: flex;
    flex-direction: column;
    margin-bottom: 49px;
}

.article-carousel__img {
    flex-grow: 0;
}

.article-carousel__text-block {
    padding: 36px;
    border: 1px solid #E8DCF8;
    border-top: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.article-carousel__data {
    color: #F7A500;
    font-size: 15px;
    line-height: 23px;
}

.article-carousel__title {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 15px;
}

.article-carousel__text {
    font-size: 11px;
    line-height: 23px;
    padding-bottom: 15px;
}

.article-carousel__link {
    margin-top: auto;
}

.footer {
    height: 581px;
    background: #48156D;
}

.footer__head {
    height: 151px;
    background: #6F1EAA;
}

.footer__logo-list {
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 24px;
}

.footer-info {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}

.footer-info__grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 1rem;
    gap: 1rem;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}

.footer-info__grid-element-grid {
    display: grid;
    grid-row-gap: 1rem;
    row-gap: 1rem;
}

.footer__title {
    color: #C282F0;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.footer__link {
    margin-bottom: 0.25rem;
}

.footer__link a {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}

.social-images {
    display: flex;
    flex-direction: column;
}

.social-images {
    margin-top: 1rem;
}

.social-images__block {
    display: flex;
}

.social-images__block+.social-images__block {
    margin-top: 1rem;
}

.social-images__img+.social-images__img {
    margin-left: 24px;
}

.footer-copyrite {
    display: flex;
}

.footer-copyrite__item {
    margin-right: 18px;
}

.footer-copyrite__item, .footer-copyrite__item a {
    color: #fff;
}

.unactive {
    display: none;
}

@media (max-width: 1220px) {
    .menu-left__item+.menu-left__item {
        padding-left: 1.5rem;
    }
}

@media (max-width: 1080px) {
    .header__logo {
        left: 35px;
    }
    .menu-btn {
        display: inline-block;
    }
    .menu-left {
        position: absolute;
        width: 100%;
        height: 500px;
        left: 0;
        top: 0;
        background-color: #fff;
        z-index: 20;
        transform: translateY(-150%);
    }
    .menu-left__list {
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
        justify-content: space-around;
    }
    .menu-left.active {
        transform: translateY(0);
    }
    .header__container {
        justify-content: flex-end;
    }
    .menu-left__item, .menu-left__item+.menu-left__item {
        padding: 0;
    }
    .menu-left__list .menu-right__try-btn {
        margin: 0;
    }
}

@media (max-width: 780px) {
    .header {
        background: url(../images/header__left-decorator.png) 0 93px no-repeat, url(../images/header__right-decorator.png) 100% 93px no-repeat, url(../images/header__middle-decorator.png) 50% 100% no-repeat, #FEF7E5;
        min-height: 610px;
    }
    .header__title {
        font-size: 42px;
        line-height: 51px;
        margin-bottom: 11px;
    }
    .header__text {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 9px;
    }
    button.medium-btn {
        font-weight: bold;
        font-size: 14px;
        line-height: 19px;
        padding: 7px 23px;
        border-radius: 24px;
    }
}

@media (max-width: 590px) {
    .header {
        background: url(../images/header__left-decorator.png) 0 93px no-repeat, url(../images/header__right-decorator.png) 100% 93px no-repeat, #FEF7E5;
        min-height: 500px;
    }
    .menu-right .menu-right__login-link {
        display: none;
    }
    .header__title {
        font-size: 34px;
        line-height: 37px;
        margin-bottom: 20px;
    }
    .header__text {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 9px;
    }
}

@media (max-width: 440px) {
    .menu-right .menu-right__try-btn {
        display: none;
    }
    .header {
        min-height: 395px;
    }
    .header__title {
        font-size: 23px;
        line-height: 32px;
        margin-bottom: 13px;
    }
    .header__text {
        font-size: 10px;
        line-height: 19px;
        margin-bottom: 9px;
    }
    .header__top {
        margin-bottom: 65px;
    }

    .menu-right {
        margin-top: 18px;
    }

    .header__top{
        height: 70px;
    }

    .header__logo{
        top: 17px;
    }

}